.site-footer {
    background-color: #212121; /* Charcoal Grey for footer background */
    color: #E0F2F1; /* Light Teal for text */
    padding: 20px;
    font-size: 14px;
    text-align: left;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    flex-shrink: 0;
    margin-top: 100px;
}

.site-footer h2,
.site-footer h3 {
    color: #E0F2F1; /* Light Teal for header text */
    margin-bottom: 10px;
}

.site-footer p {
    margin: 5px 0;
}

.site-footer a {
    color: #E0F2F1; /* Light Teal for links */
    text-decoration: none;
}

.site-footer a:hover {
    text-decoration: underline;
    color: #1976D2; /* Blue for hover effect */
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-center,
.footer-right {
    flex: 1;
    padding: 10px;
}

.footer-center ul {
    list-style: none;
    padding: 0;
}

.footer-center li {
    margin: 5px 0;
}

.social-icons a {
    margin-right: 15px;
    color: #E0F2F1; /* Light Teal for social icons */
}

.social-icons a:hover {
    color: #1976D2; /* Blue for social icon hover */
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #555; /* Light Grey for the top border */
    padding-top: 10px;
    color: #E0F2F1; /* Light Teal for footer bottom text */
}
