header {
    background-color: #6A9AB0;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
main {
    min-height: 100vh;
    padding: 20px;
    flex-grow: 1;
    background-color: #EAD8B1;
}

#home-header {
    text-align: left;
    padding: 100px;
    font-weight: bolder;
    font-size: 8vw;
}
@media (max-width: 768px) {
    #home-header {
        font-size: 9vw;
    }
    header{
        min-height: 60vh;
    }
}

@media (max-width: 480px) {
    #home-header {
        font-size: 10vw;
    }
}

