.navbar {
    background-color: #F5F5F5; /* Light Grey for navbar background */
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
    color: #212121; /* Charcoal Grey for logo text */
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #212121; /* Charcoal Grey for regular links */
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #1976D2; /* Blue for hover effect */
}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: #212121; /* Charcoal Grey for hamburger icon */
    font-size: 24px;
}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #F5F5F5; /* Light Grey for mobile navbar background */
        width: 100%;
        z-index: 1000;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
    }

    .hamburger:focus {
        outline: none;
    }
}
