<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jason Chen">
    <meta name="description" content="the about-page of a  simplistic task-tracker that keeps all your tasks in check.">
    <title>About</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="stylesheet" href="../static/css/tailwind.css">
    <link rel="icon" href="../static/imgs/logo.png" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo " style="color: black">Task-Master</a>
            <div class="nav-links" id="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>

                    <li><a href="/about">About</a></li>
                    <li><a href="/task-tracker">Tracker</a></li>

                    <li><a href="/contact">Contact</a></li>

                </ul>
            </div>
            <button class="hamburger" id="hamburger">
                ☰
            </button>
        </div>
    </nav>
    <h1>About Us</h1>
    <p>This is the about page of the Task Tracker application.</p>
  <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; 2024 Jason Chen. All rights reserved.</p>
        </div>
    </footer>
    <script src="../static/nav.js"></script>

</body>
</html>