<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Tracker - Tracker</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="icon" href="../static/imgs/logo.png" type="image/x-icon">
</head>
<body>
 <nav class="navbar">
        <div class="container">
            <a href="/" class="logo"><img src="../static/imgs/grafik_transparent.png" alt="logo" style="height: 40px; width: auto; border-radius: 10%"></a>
            <div class="nav-links" id="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/task-tracker">Tracker</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <button class="hamburger" id="hamburger">☰</button>
        </div>
    </nav>

    <div>
        <h1>Task Tracker</h1>

        <div class="task-container">

            <div class="list-form">
                <h2>Create To-Do List</h2>
                <form id="list-form">
                    <input type="text" id="list-title" placeholder="Enter a to-do list title" required>
                    <button type="submit">Create List</button>
                </form>
            </div>

            <div class="task-form">
                <h2>Add Task</h2>
                <form id="task-form">
                    <input type="text" id="task" placeholder="Enter a task" required>
                    <input type="text" id="date" placeholder="Due date (dd.mm.yyyy)" required>
                    <input type="text" id="priority" placeholder="Priority (high, medium, low)" required>
                    <br>
                    <select id="list-select" required>
                        <option value="" disabled selected>Select a To-Do List</option>
                    </select>
                    <button type="submit">Add Task</button>
                </form>
            </div>

            <div class="task-list-container">
                <h2>Your To-Do Lists</h2>
                <ul id="todo-list" class="space-y-4">
                    <!-- Dynamically populated to-do lists will appear here -->
                </ul>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="site-footer bg-gray-800 text-white py-4">
        <div class="footer-content text-center">
            <p>&copy; 2024 Jason Chen. All rights reserved.</p>
        </div>
    </footer>

    <script src="../static/nav.js"></script>
    <script src="../static/script.js"></script>

</body>
</html>
