<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jason Chen">
    <meta name="description" content="A simplistic task-tracker to keep all your tasks in check.">
    <title>Task Tracker - Home</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="icon" href="../static/imgs/logo.png" type="image/x-icon">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo"><img src="../static/imgs/grafik_transparent.png" alt="logo" style="height: 40px; width: auto; border-radius: 10%"></a>
            <div class="nav-links" id="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/task-tracker">Tracker</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <button class="hamburger" id="hamburger">☰</button>
        </div>
    </nav>

    <div class="content">
        <h1>Welcome to Task Tracker</h1>
        <p>A simple tool to help you track your tasks, manage deadlines, and stay on top of your to-dos.</p>
        <p>Click below to start adding your tasks:</p>
        <a href="/task-tracker" class="btn">Go to Task Tracker</a>
    </div>

     <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; 2024 Jason Chen. All rights reserved.</p>
        </div>
    </footer>

    <script src="../static/script.js"></script>
    <script src="../static/nav.js"></script>
</body>
</html>
