<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Jason Chen">
    <meta name="description" content="A simplistic task-tracker to keep all your tasks in check.">
    <title>Task Tracker - Home</title>
    <link rel="stylesheet" href="../static/css/home.css">
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/css/footer.css">
    <link rel="stylesheet" href="../static/css/nav.css">
    <link rel="icon" href="../static/imgs/logo.png" type="image/x-icon">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.css">

    <style>

    </style>
</head>
<body>

    <nav class="navbar">
        <div class="container">
            <a href="/" class="logo" style="color: black">Task-Master</a>
            <div class="nav-links" id="nav-links">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/task-tracker">Tracker</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
            <button class="hamburger" id="hamburger">☰</button>
        </div>
    </nav>

    <div id="fullpage">

        <div class="section">
            <header id="home-header">
                Welcome<br>
                to Task-Master
            </header>
        </div>

        <div class="section section1">
            <h1>
                Start tracking already!
            </h1>
        </div>

        <div class="section section2">
           <h1>And if you don't start tracking...</h1>
        </div>

        <div class="section section3">
            <h1>I will kill you.</h1>
        </div>
    </div>

    <footer class="site-footer">
        <div class="footer-content">
            <p>&copy; 2024 Jason Chen. All rights reserved.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.1.2/fullpage.min.js"></script>
    <script>
        new fullpage('#fullpage', {
            autoScrolling: true,
            navigation: true,
            scrollHorizontally: true,
            anchors: ['home', 'section1', 'section2', 'section3'],
            showActiveTooltip: true,
            loopBottom: true
        });
    </script>

    <script src="../static/script.js"></script>
    <script src="../static/nav.js"></script>
</body>
</html>
